<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question Quail</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/survey.js"></script>
</head>
<body>
<button onclick="myFunc1()">A</button>

<button onclick="myFunc2()">B</button>

    <div>
        <button onclick="createSurvey()">Create</button>
        <input type="text" id="surveyName"/>
        <select id="questionType"><option value="openEnded">OpenEnded</option></select>
        <button onclick="addQuestion()">+</button>
        <div id="surveyQuestions"></div>

        <!-- <div id="react"></div>
        <script src="/built/bundle.js"></script> -->
    </div>

</body>
</html>
