$screen-phone: 640px;
$screen-tablet: 768px;
$screen-desktop: 1024px;

body {
  margin: 0;
}

.console {
    width:60%;
    height:200px;
}

.content-group {
    border-radius: 4px;
    border-color: rgba(0,0,0,0.2);
    border-style: solid;
    padding: 10px;
}

.qq-app {
  .m {
    margin: 5px;
  }

  .mv {
    margin: 5px 0;
  }

  .mh {
    margin: 0 5px;
  }

  &__container {
    @media (min-width: $screen-desktop) {
      max-width: 60%;
    }
    min-height: 82vh;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
  }

  div.qq-app__qtype_select,
  div.qq-app__survey-ids_select {
    min-width: 140px;
  }

  div.qq-app__survey-ids_select {
      min-width: 140px;
  }

  &__number_input {
    max-width: 80px;
  }
}
